/* Global Styles */
@import url("https://fonts.googleapis.com/css?family=Amaranth");

* {
  font-family: "Amaranth", sans-serif;
}

.App {
  text-align: center;
  color: #163913;
}

.App-header {
  /* background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white; */
}

.NavBar {
  border-radius: 0px;
  margin-right: 15px;
  padding: 5px 5px;
  border: 10px;
  border-style: solid;
  border-color: #163913;
  width: 100%;

  display: flex;
  flex-direction: row;

  align-items: left;
  margin-bottom: 0px;
}
.CurrentDataContainer {
  background-image: url("../background.jpg");

  height: 100%;
}
