/* Global Styles */
@import url("https://fonts.googleapis.com/css?family=Amaranth");

* {
  font-family: "Amaranth", sans-serif;
}

.App {
  text-align: center;
  color: #163913;
  margin-bottom: 10px;
}

.App-header {
}

.NavBar {
  border-radius: 0px;
  margin-right: 15px;
  padding: 5px 5px;
  border: 10px;
  border-style: solid;
  border-color: #163913;
  width: 100%;

  display: flex;
  flex-direction: row;

  margin-bottom: 0px;
  background-image: url("../background2.jpg");
}
.button {
  font-size: 12px;
  color: #163913;
}
.loginButton {
  display: inline-block;
  border-radius: 4px;
  margin-right: 100px;
  border: none;
  color: #163913;
  background-color: #d3d3d3;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 75px;
  height: 40px;
  margin: 5px;
}
.signupbutton {
  display: inline-block;
  border-radius: 4px;
  margin-right: 100px;
  border: none;
  color: #163913;
  background-color: #d3d3d3;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 75px;
  height: 40px;
  margin: 5px;
}

.inputButton {
  font-size: 15px;
  color: #163913;
}
.convertButton {
  font-size: 22px;
  color: #163913;
}

.CurrentDataContainer {
  background-image: url("../background.jpg");
  border-radius: 0px;
  margin-right: 15px;

  border: 10px;
  border-style: solid;
  border-color: #163913;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: left;
}
.HistoricalDataForm {
  font-size: 18px;
}
.CurrentInputForm {
  font-size: 18px;
}
.HistoricalInputForm {
  font-size: 20px;
}
