/* Global Styles */
@import url("https://fonts.googleapis.com/css?family=Amaranth");

* {
  font-family: "Amaranth", sans-serif;
}

.App {
  text-align: center;
  color: #163913;
  margin-bottom: 10px;
}
#login {
  align-items: right;
}

.App-header {
}

.NavBar {
  border-radius: 0px;
  margin-right: 15px;
  padding: 5px 5px;
  border: 10px;
  border-style: solid;
  border-color: #163913;
  width: 100%;

  display: flex;
  flex-direction: row;

  align-items: right;
  margin-bottom: 0px;
  background-image: url("../background2.jpg");
}
.CurrentDataContainer {
  background-image: url("../background.jpg");
  border-radius: 0px;
  margin-right: 15px;

  border: 10px;
  border-style: solid;
  border-color: #163913;
  width: 100%;

  display: flex;
  flex-direction: row;

  align-items: left;
}
.button {
  font-size: 15px;
  color: #163913;
}

.loginbutton {
  font-size: 10px;
  letter-spacing: px;
  height: auto;
  width: auto;
  margin-left: 1500px;
  padding: 5px 20px;
  border: 10px;
}
.signupbutton {
  font-size: 10px;
  letter-spacing: px;
  height: auto;
  width: auto;
  margin-left: 1500px;
  padding: 5px 20px;
  border: 10px;
}
.HistoricalDataForm {
  font-size: 20px;
}
.CurrentInputForm {
  font-size: 20px;
}
.CurrentInputForm {
}
